body{margin: 0;
background-color: #fff;


}

    
.asd{
    width: 1000px;
    
    
    
}

.header{margin: 0 auto;
   top: 0;
    width: 1000px;
    height: 50px
    
}

.logo{
    display: inline-block;
    width: 110px;
    height: 35px;
    background-size: 1000px;
    margin-top: 5px
    
}

.a{
    width: 100%;
    background: #0C82B9;
}

.index_body_center{
    
    width: 400px;
    margin: 0 auto;
    
}
   

.kinput{
    margin-top: 50px;
    border: 1 px solid #ccc;
    border-right: 6px solid #0D98C7;
    height: 25px;
    width: 250px;
    margin-bottom: 12px;
    padding-left: 7px
    
}

.sinput{
    
   border: 1 px solid #ccc;
    border-right: 6px solid #0D98C7;
    height: 25px;
    width: 250px;
    margin-bottom: 30px;
    padding-left: 7px
    }

.buton{
    color: white;
    background-color: #025900;
    width: 150px;
    margin-left: 113px;
    border: 30px;
    border-radius: 50px;
    height: 25px
    
        
}

.kavso{
    margin-top: 80px;
    font-family: "Source Sans Pro" , "Helvetica Niue" , "Helvetica" , "Arial";
    font-size: 25px;
    font-weight: 700;
    color: #ftf
    
}

.kavso2{
    margin-top: 25px;
    font-family: "Source Sans Pro" , "Helvetica Niue" , "Helvetica" , "Arial";
    font-size: 20px;
    font-weight: 700;
    color: #aaa
    
    
}













